---
import { type CollectionEntry, getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import { Separator } from '$lib/components/ui/separator';
import { Badge } from '$lib/components/ui/badge';
import { Button } from '$lib/components/ui/button';
import { ChevronLeft } from 'lucide-svelte';

export async function getStaticPaths() {
	const posts = await getCollection('blog');
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: post,
	}));
}
type Props = CollectionEntry<'blog'>;

const post = Astro.props;
const { Content } = await post.render();
---

<Layout title={post.data.title} description={post.data.description}>
	<div class="container max-w-3xl py-6">
		<Button href="/blog" variant="ghost" class="pl-0 mb-6 hover:bg-transparent hover:text-primary">
			<ChevronLeft class="mr-2 h-4 w-4" />
			Back to Blog
		</Button>
		
		<article class="prose prose-slate dark:prose-invert max-w-none">
			<div class="mb-6 space-y-4 font-serif">
				<h1 class="mb-2 text-4xl font-extrabold tracking-tight lg:text-5xl">{post.data.title}</h1>
				<div class="flex items-center gap-2 text-muted-foreground">
					<Badge variant="outline">
						{post.data.pubDate.toLocaleDateString('en-us', {
							year: 'numeric',
							month: 'long',
							day: 'numeric',
						})}
					</Badge>
					{post.data.updatedDate && (
						<span class="text-sm">
							(Updated: {post.data.updatedDate.toLocaleDateString()})
						</span>
					)}
				</div>
				{post.data.heroImage && (
					<img 
						src={post.data.heroImage} 
						alt={post.data.title}
						class="w-full h-auto rounded-xl mt-6 object-cover max-h-96"
					/>
				)}
			</div>
			
			<Separator class="my-8" />
			
			<div class="prose-img:rounded-lg bg-[#e8e8e8] dark:bg-[#282828] p-8 md:p-12 rounded-xl font-serif text-lg md:text-xl">
				<Content />
			</div>
		</article>
	</div>
</Layout>
